html{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

}
body{
height:100%;
background: #F5F8FA;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
 font-family: 'Open Sans', sans-serif;
}
h1, h2, nav, #studentDiv, #programDiv, #salesDiv, #homeDiv{
	text-align:center;
}
.col-sm-4{
	height:30em;
}
.col-sm-3{
	text-align:left;
}
.well {
	background-color: rgba(245, 245, 245, 0.6);
}

